set MSIP_PROJ_ROOT $env(MSIP_PROJ_ROOT)
set PROJ_HOME $MSIP_PROJ_ROOT/$projectType/$projectName/$releaseName
set extractNetlistDir $PROJ_HOME/design/$metalStack/netlist/extract/$cellName/rcxt
set defaultP4Dir "$MSIP_PROJ_ROOT/$projectType/$projectName/$releaseName/design/$metalStack"

set tech tsmc5ff12

## PVT information for technology tsmc5ff12 and project d750

set cornerData(ffg0p825v0c) {VDD 0.825,VDDQ 1.21,VDDQL 0.44,TEMP 0,mos mos_ff,bjt bip_f,cap cap_f,diode dio_f,moscap_hv nmoscaphv_f,moscap nmoscap_f,mos_hv moshv_ff,mos_lvt moslvt_ff,mos_ulvt mosulvt_ff,mos_elvt moselvt_ff,res res_f,xType rcc,beol typical,scPvt ffg0p825v0c}
set cornerData(ffg0p825v125c) {VDD 0.825,VDDQ 1.21,VDDQL 0.44,TEMP 125,mos mos_ff,bjt bip_f,cap cap_f,diode dio_f,moscap_hv nmoscaphv_f,moscap nmoscap_f,mos_hv moshv_ff,mos_lvt moslvt_ff,mos_ulvt mosulvt_ff,mos_elvt moselvt_ff,res res_f,xType rcc,beol typical,scPvt ffg0p825v125c}
set cornerData(ffg0p825vn40c) {VDD 0.825,VDDQ 1.21,VDDQL 0.44,TEMP -40,mos mos_ff,bjt bip_f,cap cap_f,diode dio_f,moscap_hv nmoscaphv_f,moscap nmoscap_f,mos_hv moshv_ff,mos_lvt moslvt_ff,mos_ulvt mosulvt_ff,mos_elvt moselvt_ff,res res_f,xType rcc,beol typical,scPvt ffg0p825vn40c}
set cornerData(ffgnp0p825v0c) {VDD 0.825,VDDQ 1.21,VDDQL 0.44,TEMP 0,mos mos_ffgnp,bjt bip_f,cap cap_f,diode dio_f,moscap_hv nmoscaphv_f,moscap nmoscap_f,mos_hv moshv_ff,mos_lvt moslvt_ffgnp,mos_ulvt mosulvt_ffgnp,mos_elvt moselvt_ffgnp,res res_f,xType rcc,beol typical,scPvt ffgnp0p825v0c}
set cornerData(ssg0p675v0c) {VDD 0.675,VDDQ 0.99,VDDQL 0.36,TEMP 0,mos mos_ss,bjt bip_s,cap cap_s,diode dio_s,moscap_hv nmoscaphv_s,moscap nmoscap_s,mos_hv moshv_ss,mos_lvt moslvt_ss,mos_ulvt mosulvt_ss,mos_elvt moselvt_ss,res res_s,xType rcc,beol typical,scPvt ssg0p675v0c}
set cornerData(ssg0p675v125c) {VDD 0.675,VDDQ 0.99,VDDQL 0.36,TEMP 125,mos mos_ss,bjt bip_s,cap cap_s,diode dio_s,moscap_hv nmoscaphv_s,moscap nmoscap_s,mos_hv moshv_ss,mos_lvt moslvt_ss,mos_ulvt mosulvt_ss,mos_elvt moselvt_ss,res res_s,xType rcc,beol typical,scPvt ssg0p675v125c}
set cornerData(ssg0p675vn40c) {VDD 0.675,VDDQ 0.99,VDDQL 0.36,TEMP -40,mos mos_ss,bjt bip_s,cap cap_s,diode dio_s,moscap_hv nmoscaphv_s,moscap nmoscap_s,mos_hv moshv_ss,mos_lvt moslvt_ss,mos_ulvt mosulvt_ss,mos_elvt moselvt_ss,res res_s,xType rcc,beol typical,scPvt ssg0p675vn40c}
set cornerData(ssgnp0p675v0c) {VDD 0.675,VDDQ 0.99,VDDQL 0.36,TEMP 0,mos mos_ssgnp,bjt bip_s,cap cap_s,diode dio_s,moscap_hv nmoscaphv_s,moscap nmoscap_s,mos_hv moshv_ss,mos_lvt moslvt_ssgnp,mos_ulvt mosulvt_ssgnp,mos_elvt moselvt_ssgnp,res res_s,xType rcc,beol typical,scPvt ssgnp0p675v0c}
set cornerData(tt0p75v25c) {VDD 0.75,VDDQ 1.1,VDDQL 0.4,TEMP 25,mos mos_tt,bjt bip_t,cap cap_t,diode dio_t,moscap_hv nmoscaphv_t,moscap nmoscap_t,mos_hv moshv_tt,mos_lvt moslvt_tt,mos_ulvt mosulvt_tt,mos_elvt moselvt_tt,res res_t,xType rcc,beol typical,scPvt tt0p75v25c}
set cornerData(tt0p75v85c) {VDD 0.75,VDDQ 1.1,VDDQL 0.4,TEMP 85,mos mos_tt,bjt bip_t,cap cap_t,diode dio_t,moscap_hv nmoscaphv_t,moscap nmoscap_t,mos_hv moshv_tt,mos_lvt moslvt_tt,mos_ulvt mosulvt_tt,mos_elvt moselvt_tt,res res_t,xType rcc,beol typical,scPvt tt0p75v85c}
set pvtCorners {ffg0p825v0c ffg0p825v125c ffg0p825vn40c ffgnp0p825v0c ssg0p675v0c ssg0p675v125c ssg0p675vn40c ssgnp0p675v0c tt0p75v25c tt0p75v85c}
set modelLibs {mos bjt cap diode moscap_hv moscap mos_hv mos_lvt mos_ulvt mos_elvt res}

set supplyPins {VDD VDDQ VDDQL}
set groundPins {VSS}
set pininfoRelatedPowerAuto {^VIO_ VDDQ}
set defaultRelatedPower VDD
set defaultRelatedGround VSS

##  Common nt source files. Probably under p4 control
set ntSourceDir $PROJ_HOME/design/macro/$cellName/nt
set ntConstraintsFile $ntSourceDir/constraints.tcl
set ntExceptionsFile $ntSourceDir/exceptions.tcl
set ntPrecheckFile $ntSourceDir/precheck.tcl
set ntPrecheckTopoFile $ntSourceDir/prechecktopo.tcl
set ntPrematchTopoFile $ntSourceDir/prematchtopo.tcl
set ntUserSettingFile $ntSourceDir/user_setting.tcl
set equivFile $ntSourceDir/$cellName.equiv
set pininfoFile $ntSourceDir/$cellName.pininfoNT
##  Munge config for fixing up non-pg lib.
##  These will default if not provided.
#set ntMungeConfig $ntSourceDir/$cellName.mungeCfg
#set ntMungeConfigPG $ntSourceDir/$cellName.pg.mungeCfg
set scriptDir $PROJ_HOME/design/timing/nt/ntFiles_lvf
set modelDir  $PROJ_HOME/cad/models/hspice_mc
##  Assumed that for each of these, there will be a PVT.db

set stdCellLibPath /remote/us01sgnfs00266/hbm3/d750-hbm3-tsmc5ff12/rel1.20/design/stdcells/

lappend stdCellLibList $stdCellLibPath/ts05ncpslogl06hdl051f/liberty/logic_synth_lvf_nt/ts05ncpslogl06hdl051f
lappend stdCellLibList $stdCellLibPath/ts05ncpvlogl06hdl051f/liberty/logic_synth_lvf_nt/ts05ncpvlogl06hdl051f
lappend stdCellLibList $stdCellLibPath/ts05ncpllogl06hdl051f/liberty/logic_synth_lvf_nt/ts05ncpllogl06hdl051f


set mungeScript $MSIP_PROJ_ROOT/alpha/alpha_common/bin/Munge_nanotime.pl
set ntMungeConfigHdr $PROJ_HOME/design/timing/nt/ntFiles/ntMungeConfigHdr.txt
set extraDeviceModels $PROJ_HOME/design/timing/nt/ntFiles/extraDeviceModels.sp
set spiceNetlist $PROJ_HOME/design/$metalStack/netlist/$libName/$cellName/sim/${cellName}_$tech.sp
##  By default, pbsa is on for internal timing, off for etm
set ntEnablePbsa_internal false
set ntEnablePbsa_etm false
##  Used to fix value for oc_global_voltage in NT.  Typically VDD, unless there is no VDD.
set oc_global_supply VDD
## NT version 
set ntVersion nt/2021.06-SP3
