set MSIP_PROJ_ROOT $env(MSIP_PROJ_ROOT)
set PROJ_HOME $MSIP_PROJ_ROOT/$projectType/$projectName/$releaseName
set extractNetlistDir $PROJ_HOME/design/$metalStack/netlist/extract/$cellName/rcxt
set defaultP4Dir "$MSIP_PROJ_ROOT/$projectType/$projectName/$releaseName/design/$metalStack"

set tech tsmc3ff12

## PVT information for technology tsmc3ff12 and project d763

set cornerData(ffg0p825v0c) {VDD 0.825,VDDQ 1.21,VDDQL 0.44,TEMP 0,mos mos_ff,bjt bip_f,cap cap_l,diode dio_f,moscap_hv nmoscaphv_h,moscap nmoscap_h,mos_hv moshv_ff,mos_lvt moslvt_ff,mos_ulvt mosulvt_ff,mos_elvt moselvt_ff,res res_l,xType rcc,beol typical,scPvt ffg0p825v0c}
set cornerData(ffg0p825v125c) {VDD 0.825,VDDQ 1.21,VDDQL 0.44,TEMP 125,mos mos_ff,bjt bip_f,cap cap_l,diode dio_f,moscap_hv nmoscaphv_h,moscap nmoscap_h,mos_hv moshv_ff,mos_lvt moslvt_ff,mos_ulvt mosulvt_ff,mos_elvt moselvt_ff,res res_l,xType rcc,beol typical,scPvt ffg0p825v125c}
set cornerData(ffg0p825vn40c) {VDD 0.825,VDDQ 1.21,VDDQL 0.44,TEMP -40,mos mos_ff,bjt bip_f,cap cap_l,diode dio_f,moscap_hv nmoscaphv_h,moscap nmoscap_h,mos_hv moshv_ff,mos_lvt moslvt_ff,mos_ulvt mosulvt_ff,mos_elvt moselvt_ff,res res_l,xType rcc,beol typical,scPvt ffg0p825vn40c}
set cornerData(ssg0p675v0c) {VDD 0.675,VDDQ 0.99,VDDQL 0.36,TEMP 0,mos mos_ss,bjt bip_s,cap cap_h,diode dio_s,moscap_hv nmoscaphv_l,moscap nmoscap_l,mos_hv moshv_ss,mos_lvt moslvt_ss,mos_ulvt mosulvt_ss,mos_elvt moselvt_ss,res res_h,xType rcc,beol typical,scPvt ssg0p675v0c}
set cornerData(ssg0p675v125c) {VDD 0.675,VDDQ 0.99,VDDQL 0.36,TEMP 125,mos mos_ss,bjt bip_s,cap cap_h,diode dio_s,moscap_hv nmoscaphv_l,moscap nmoscap_l,mos_hv moshv_ss,mos_lvt moslvt_ss,mos_ulvt mosulvt_ss,mos_elvt moselvt_ss,res res_h,xType rcc,beol typical,scPvt ssg0p675v125c}
set cornerData(ssg0p675vn40c) {VDD 0.675,VDDQ 0.99,VDDQL 0.36,TEMP -40,mos mos_ss,bjt bip_s,cap cap_h,diode dio_s,moscap_hv nmoscaphv_l,moscap nmoscap_l,mos_hv moshv_ss,mos_lvt moslvt_ss,mos_ulvt mosulvt_ss,mos_elvt moselvt_ss,res res_h,xType rcc,beol typical,scPvt ssg0p675vn40c}
set cornerData(tt0p75v25c) {VDD 0.75,VDDQ 1.1,VDDQL 0.4,TEMP 25,mos mos_tt,bjt bip_t,cap cap_t,diode dio_t,moscap_hv nmoscaphv_t,moscap nmoscap_t,mos_hv moshv_tt,mos_lvt moslvt_tt,mos_ulvt mosulvt_tt,mos_elvt moselvt_tt,res res_t,xType rcc,beol typical,scPvt tt0p75v25c}
set pvtCorners {ffg0p825v0c ffg0p825v125c ffg0p825vn40c ssg0p675v0c ssg0p675v125c ssg0p675vn40c tt0p75v25c}
set modelLibs {mos bjt cap diode moscap_hv moscap mos_hv mos_lvt mos_ulvt mos_elvt res}

set supplyPins {VDD VDDQ VDDQL}
set groundPins {VSS}
set pininfoRelatedPowerAuto {^VIO_ VDDQ}
set defaultRelatedPower VDD
set defaultRelatedGround VSS

##  Common nt source files. Probably under p4 control
set ntSourceDir $PROJ_HOME/design/macro/$cellName/nt
set ntConstraintsFile $ntSourceDir/constraints.tcl
set ntExceptionsFile $ntSourceDir/exceptions.tcl
set ntPrecheckFile $ntSourceDir/precheck.tcl
set ntPrecheckTopoFile $ntSourceDir/prechecktopo.tcl
set ntPrematchTopoFile $ntSourceDir/prematchtopo.tcl
set ntUserSettingFile $ntSourceDir/user_setting.tcl
set equivFile $ntSourceDir/$cellName.equiv
set pininfoFile $ntSourceDir/$cellName.pininfoNT
##  Munge config for fixing up non-pg lib.
##  These will default if not provided.
#set ntMungeConfig $ntSourceDir/$cellName.mungeCfg
#set ntMungeConfigPG $ntSourceDir/$cellName.pg.mungeCfg
set scriptDir $PROJ_HOME/design/timing/nt/ntFiles_lvf
set modelDir  $PROJ_HOME/cad/models/hspice_mc
##  Assumed that for each of these, there will be a PVT.db

set stdCellLibPath /slowfs/us01dwt2p787/STDCELL_NTlibs/tsmc3ff

lappend stdCellLibList $stdCellLibPath/IRL4194462_TSMCN3E_DDR_PHY_H169_ELVT_LVT_LVTLL_Libraries_Release_CQv1p0/ts03nxpelogl03hdd048f/liberty/logic_synth_lvf_nt/ts03nxpelogl03hdd048f
lappend stdCellLibList $stdCellLibPath/IRL4194462_TSMCN3E_DDR_PHY_H169_ELVT_LVT_LVTLL_Libraries_Release_CQv1p0/ts03nxpllogl03hdd048f/liberty/logic_synth_lvf_nt/ts03nxpllogl03hdd048f
lappend stdCellLibList $stdCellLibPath/IRL4194462_TSMCN3E_DDR_PHY_H169_ELVT_LVT_LVTLL_Libraries_Release_CQv1p0/ts03nxpmlogl03hdd048f/liberty/logic_synth_lvf_nt/ts03nxpmlogl03hdd048f
lappend stdCellLibList $stdCellLibPath/IRL4194464_TSMCN3E_DDR_PHY_H169_SVT_ULVT_ULVTLL_Libraries_Release_CQv1p0/ts03nxpslogl03hdd048f/liberty/logic_synth_lvf_nt/ts03nxpslogl03hdd048f
lappend stdCellLibList $stdCellLibPath/IRL4194464_TSMCN3E_DDR_PHY_H169_SVT_ULVT_ULVTLL_Libraries_Release_CQv1p0/ts03nxpvlogl03hdd048f/liberty/logic_synth_lvf_nt/ts03nxpvlogl03hdd048f
lappend stdCellLibList $stdCellLibPath/IRL4194464_TSMCN3E_DDR_PHY_H169_SVT_ULVT_ULVTLL_Libraries_Release_CQv1p0/ts03nxpwlogl03hdd048f/liberty/logic_synth_lvf_nt/ts03nxpwlogl03hdd048f


set mungeScript $MSIP_PROJ_ROOT/alpha/alpha_common/bin/Munge_nanotime.pl
set ntMungeConfigHdr $PROJ_HOME/design/timing/nt/ntFiles/ntMungeConfigHdr.txt
set extraDeviceModels $PROJ_HOME/design/timing/nt/ntFiles/extraDeviceModels.sp
set spiceNetlist $PROJ_HOME/design/$metalStack/netlist/$libName/$cellName/sim/${cellName}_$tech.sp
##  By default, pbsa is on for internal timing, off for etm
set ntEnablePbsa_internal false
set ntEnablePbsa_etm false
##  Used to fix value for oc_global_voltage in NT.  Typically VDD, unless there is no VDD.
set oc_global_supply VDD
## NT version 
set ntVersion nt/2021.06-SP3
